# ===== OS / Editor =====
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
!.vscode/extensions.json
.idea/
*.iml

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# ===== Node / Package Managers =====
node_modules/
.pnp/
.pnp.js

# ===== Build outputs =====
dist/
build/
out/
.cache/
.parcel-cache/

# ===== Env files (secrets) =====
.env
.env.*
!.env.example

# ===== TypeScript =====
*.tsbuildinfo

# ===== Testing / Coverage =====
coverage/
.nyc_output/

# ===== Storybook =====
.storybook-out/

# ===== Vite =====
.vite/

# ===== Next.js (kalau suatu saat kepakai) =====
.next/

# ===== Misc =====
*.local
